* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;;
  }
  
  body {
    background-color: #F5FFFA;
   
  }

  #bg-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 100%;
   
    position: relative;
    margin: 0%;
  }
  
  #tittle  {
      display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    
  }

  #inputs {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #form-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-size: 20px;

  }

  #text {
    background-color: #F5FFFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;

  }

  
  
  main {
    display: flex; 
    justify-content: center;

  }
  
  form {
    height: 250px;
    background-color: #E62657;
    position: relative;
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    margin: 65px;
    border-radius: 5%;
    flex-flow: column wrap;
    border-color: black;
  }
  
  button {
    width: 150px;
    height: 40px;
    color: #11114E;
    border-radius: 2%;
    margin: 5px;
    background-color: #F1df44;
    border-color: black;
  }
  
  input[type='text'] {
    width: 75%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #price-container {
    width: 85%;
  }
  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
  
  #merch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  
  .item-cover-image {
    width: 250px; 
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .item-card {
    background-color: #F9f7f7;
    width: 250px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .item-item {
    font-size: 25px;
    margin: 5px 0;
  }
  
  .item-price {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    
    
  }
  
  .btns-container > button {
    width: 60px;
    border-radius: 10%;
    background-color: #D7e9fb;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color: #D7e9fb;
    flex-direction: column;
  }